<%= image_tag @portfolio_item.main_image unless @portfolio_item.thumb_image.nil? %>

<h1><%= @portfolio_item.title %></h1>
<h3><%= @portfolio_item.subtitle %></h3>
<p><%= @portfolio_item.body %></p>

<%= link_to edit_portfolio_path(@portfolio_item.id) do %>
  <button>Edit</button>
<% end %>

<%= link_to @portfolio_item, method: :delete, data: {confirm: 'Are you sure?'} do %>
  <button>Delete</button>
<% end %>

<%= link_to portfolios_path do %>
  <button>Back</button>
<% end %>
